


#banner {

	background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
	url(images/ts3.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#banner .town-info {
	color:rgb(241, 80, 37)
}


#projects {
	background: url(images/ecom.jpg);
}

.primary-color-background {
	background-color: #F15025;
}

.primary-color {
	color: #f15025
}


.max-viewport {
	min-height: 100vh;
}


h5, h3 {
 color: goldenrod;
}

.text-uppercase {
	color: black;
}

.title-color {
	color: #353531;
}

.title-underline {
	width: 100px;
	border: 2px solid #f15025;
	margin: 0 auto;

}


.primary-color {
	color: #f15025
}













